*{
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: pink;
  align-items: center;
  padding: 0px 15px;
}

.banner{
  background-image: url('banner.jpg'); 
  height: 400px; 
  position: relative;
}

.bannerDiv{
  position:absolute ; 
  top: 30px; 
  text-align: center; 
  width: 100%
}

.headerLink {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-right: 13px;
}

.imgMainDiv {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  flex-wrap: wrap;
}

.imgDiv {
  border: 1px dashed black;
  /* width: 200px; */
  border-radius: 30px;
  /* margin-right: 30px; */
  margin: 20px;
}

.imgDiv img {
  border-radius: 30px 30px 0px 0px;
  width: 100%;
}

.imgDiv h3 {
  text-align: center;
  color: red;
}

.imgDiv p {
  padding: 0px 20px;
  text-align: center;
}

.imgDiv .pricePurchaseDiv{
  display: flex; 
  flex-direction:column; 
  align-items: center;
}

.price {
  color: red;
  text-align: center;
  font-size: 28px;
}

.imgDiv button {
  border: none;
  background-color: green;
  border-radius: 30px;
  color: white;
  padding: 10px 15px;
  margin: 30px;
  text-align: center;
  width: 100px;
}

.imgResDiv{
  flex: 25%;
}

.footer {
  background-color: orange;
  height: 80px;
  display: flex;
  justify-content: space-around;
  /* justify-content: center; yatay hizalama */
  align-items: center; /*dikey hizalama */
  color: cyan;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
}

.footerList{
    list-style: none;
    padding-left: 0px;
}

/* for mobile*/

@media only screen and (max-width: 600px) {
  .imgMainDiv {
    flex-direction: column;
  }

  .imgResDiv{
    flex: 100%;
  }

  .imgDiv {
    margin-bottom: 30px;
  }
  .footer{
    /* height: 200px; */
    height: auto;
    flex-direction: column;
  }

  .footer li{
    display: inline-block;
    /* display: flex;  flex daha iyi digerinde margin vs ugrasmak gerekir. */ 
    margin: 5px;
  }
  .imgDiv p{
    text-align: center;
  }
}

/* for tablet */

@media only screen and (min-width: 600px) and (max-width: 989px)  {
 
 .imgResDiv{
    flex: 50%;
  }
  .footer{
    width: 100%;
  }
}